{% extends 'base.html' %}
{% block content %}

{% load static %}

<script src="{% static 'script/toggle.js' %}"></script>
<link rel="stylesheet" href="{% static 'style/profile.css' %}">
<link rel="stylesheet" href="{% static 'style/menu.css' %}">
<link rel="stylesheet" href="{% static 'style/grid.css' %}">
<link rel="stylesheet" href="{% static 'style/card.css' %}">

{% include 'profile.html' %}

<div class="menu">
	<div class="grid">

		<a href="javascript:toggle('about_content')">
			<div id="about" class="card" style="cursor: pointer">
				About
				<div id="about_content" style="display: none;">
					<p style="padding-left: 2vw; padding-right: 2vw;">
						Hi, my name is Jack Davidson and I am a web developer &amp;
						programmer based in Austin, Texas. I enjoy computer science
						&amp; mathematics. I have a strong passion for learning
						and I am a strong believer in the growth mindset.
					</p>
				</div>
			</div>
		</a>

		<a href="/blog">
			<div id="blog" class="card">
				Blog
			</div>
		</a>

		<a href="/blog">
			<div id="resume" class="card">
				Resume
			</div>
		</a>

		<a href="https://github.com/jack-davidson">
			<div id="git" class="card">
				Git
			</div>
		</a>

		<a href="javascript:toggle('contact_content')">
			<div id="contact" class="card" style="cursor: pointer">
				Contact
				<div id="contact_content" style="display: none;">
					<p>
						mail: jackmaverickdavidson at gmail dot com
					</p>
				</div>
			</div>
		</a>

	</div>
</div>
{% endblock content %}
