html {
	font-family: 'Roboto Mono', monospace;
	background-color: #fff;
	font-size: 15px;
	color: #000000;
}

body::-webkit-scrollbar {
	display: none; 
}

body {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

a {
	text-decoration: none;
	text-align: center;
	color: #000000; 
}
