{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="{% static 'script/toggle.js' %}"></script>
<link rel="stylesheet" href="{% static 'blog/style/blog.css' %}">
<link rel="stylesheet" href="{% static 'blog/style/profile.css' %}">

<div id="profile" class="card">
	<img src="{% static 'core/img/devicon.png' %}">
	<div>
		<span style="font-size: 16px;">Jack Davidson</span>
		<p>Software Engineer</p>
	</div>
</div>

<div id="menu">
	<div class="grid">
		<div class="card">
			{{ blog.title }}
			<div class="blog">
					{{ blog.document|safe }}
			</div>
		</div>
	</div>
</div>

{% endblock content %}
