{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="{% static 'script/toggle.js' %}"></script>

<div id="profile" class="card">
	<img src="{% static 'core/img/devicon.png' %}">
	<div>
		<span style="font-size: 16px;">Jack Davidson</span>
		<p>Software Engineer</p>
	</div>
</div>

<div id="menu">
	<div class="grid">
		<div class="card">
			Recent Blogs
			{% for blog in recent_blogs %}
				<a href="/blog/{{ blog.id }}">
					<div class="card">
						{{ blog.title }}
					</div>
				</a>
			{% endfor %}
		</div>
		<div class="card">
			All Blogs
			{% for blog in blogs %}
				<a href="/blog/{{ blog.id }}">
					<div class="card">
						{{ blog.title }}
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock content %}
