<div class="card">
	{{ title }}
	{% if blogs %}
		{% for blog in blogs %}
			<a href="javascript:toggle('{{ blogs }}_content{{ blog.id }}')">
				<div class="card">
					{{ blog.title }}
					<a href="/blog/{{ blog.id }}">
						<div id="{{ blogs }}_content{{ blog.id }}" style="margin-top: 1vw; display: none;">
							{{ blog.preview }}...
							<div class="card">
								Read more
							</div>
						</div>
					</a>
				</div>
			</a>
		{% endfor %}
	{% else %}
		<div class="card">
			There are no blogs currently posted.
		</div>
	{% endif %}
</div>
