{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'script/toggle.js' %}"></script>
<div id="profile" class="card">
	<img src="{% static 'core/img/devicon.png' %}">
	<div>
		<span style="font-size: 16px;">Jack Davidson</span>
		<p>Software Engineer</p>
	</div>
</div>
<div id="menu">
	<div class="grid">
		<div onclick="toggle('about_content')" id="about" class="card" style="cursor: pointer">
			About
			<div id="about_content" style="display: none;">
				<p style="padding-left: 2vw; padding-right: 2vw;">
					Hi, my name is Jack Davidson and I am a web developer &amp;
					programmer based in Austin, Texas. I enjoy computer science
					&amp; mathematics. I have a strong passion for learning
					and I am a strong believer in the growth mindset.
				</p>
			</div>
		</div>
		<div id="resume" class="card">
			Resume
		</div>
		<div id="git" class="card">
			Git
		</div>
		<div onclick="toggle('contact_content')" id="contact" class="card" style="cursor: pointer">
			Contact
			<div id="contact_content" style="display: none;">
				<p>
					mail: jackmaverickdavidson at gmail dot com
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
